html {
    box-sizing: border-box;
    font-family: sans-serif;
    font-size: 62.5%;
}
.time{
	font-weight:bold;
	font-style:italic;
	padding:10px;
}
.schedule_time{
	padding:5px;
}
.customized-container {
    background: #eaeaea none repeat scroll 0 0;
    margin: 0 auto;
    border-left: 2px solid #e1e1e1;
    border-right: 2px solid #e1e1e1;
    max-width: 1200px;
    color: #3a3a3a;
    font-family: proxima-nova,sans-serif;
    font-size: 1rem;
    font-weight: 300;
    line-height: 1.5;
    background-color: #fff;
    color: #333;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857;
	position:relative;
}
ul.nav li A{

	border-radius:30px;
	padding: 6px 25px;
	color:#0D0D7A;
}
.page-header{
	margin-top:-20px;
	margin-bottom:0px;
	padding-top:5px;
	color:white;
	padding-bottom:5px;
	padding-left:10px;
	border:0px;
    color:black;
}

.navbar-right LI A{
	color:#0D0D7A;
}
	.customized-image{
		width:100%;
		padding-left:15px;
		padding-right:15px;
		margin-left:0px;
		overflow:hidden;
	}
.container{
	background:white;
}
.navbar{
	min-height:110px;
	background-color:#EFEFEF;
}
.navbar img{
	position:relative;
	top:-17px;
}
	.buttons{
		background: #07eaf2 none repeat scroll 0 0;
		border: 2px solid #07eaf2;
		box-shadow: 0 2px 4px rgba(58, 58, 58, 0.4);
		cursor: pointer;
		display: inline-block;
		margin-right: 7px;
		transition: all 150ms linear 0s;
		padding: 5px 15px 5px 15px;
		font-size: 13px;
		font-weight: 700;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		color:#0D0D7A;
		}
.sponsors DIV{
	border:1px solid silver;
	margin:10px;
	padding:10px;
}

.error{
	display:none;
	color:red;
}
.has-error{
	color:red;
}
.icon-bar{
	border:1px solid blue;
}

.no-selected, .selected{
	padding:7px;
	border:1px solid #EFEFEF;
	color:white;
}

.no-selected{
	background:silver;
}

.selected{
	background:blue;
}


.no-selected:hover, .selected:hover{
	background:white;
	color:black;
	cursor:pointer;
}

.banner{
	margin-top:-20px;
}
DIV.odd, DIV.even{
	padding:10px;
}
DIV.even{
	background:#efefef;
}

DIV.odd LI, DIV.even LI{
	background-color:transparent;
	padding:5px;
}

.footer-links{
	padding:10px;
}

.admin_menu DIV{
    width:100%;
    background-color:#efefef;
    margin-top:3px;
    margin-bottom:3px;
    padding:5px;
    border:1px solid #efefef;
}

@media screen and (min-width:1000px){
	.buttons{
		color:#0D0D7A;
	}
	
	.buttons A:hover{
		background:white;
		color:#0D0D7A;
		
	}	
		
	.footer-box {
		background-color: #3a3a3a;
		color: #fff;
		align-content: stretch;
		align-items: stretch;
		flex-wrap: wrap;
		align-content: stretch;
		display: flex !important;
		overflow: hidden;
		width: 100%;
		padding: 40px 80px;
		position: relative;
	}
	
	.title{
		font-family: "Roboto Condensed",sans-serif;
		font-size: 32px;
		font-weight: 700;
		letter-spacing: 0.1rem;
		line-height: 1.2;
		text-transform: uppercase;
	}

	.color-wild-tile{
		color: #07eaf2;
	}

	.customized-content{
		position:relative;
	}	
	
}
@media screen and ( max-width:800px ){
	.banner{
		margin-top:-20px;
        margin-bottom:-10px;
	}
	
	.navbar img {
		position: relative;
		top: -10px;
		width:200px;
	}
	.container {
		margin:0px;
		padding:0px;
		max-width:100%;
	}
	.customized-nav-a{
		position:relative;
		padding:0px;
		overflow:hidden;
		top:0px;
		left:0px;
		margin-top:0px;
		margin-left:-5px;
		width:165px;
		height:140px;
	}
	.customized-nav{
		position:relative;
		height:140px;	
	}
	.customized-nav nav{
		position:relative;
		height:140px;
		z-index:12;
		padding-left:0px;
		padding-right:0px;
	}
	.customized-nav nav ul, li {
		background:white;
		overflow:hidden;
		padding:2px;
		margin:2px;
	}
	.buttons{
		background: #07eaf2 none repeat scroll 0 0;
		border: 2px solid #07eaf2;
		box-shadow: 0 2px 4px rgba(58, 58, 58, 0.4);
		cursor: pointer;
		display: inline-block;
		line-height: 1;
		margin-right: 7px;
		transition: all 150ms linear 0s;
		margin-bottom: 0;
		margin-left: 0;
		padding: 10px 15px 8px;
		font-size: 13px;
		font-weight: 700;
		letter-spacing: 1px;
		text-decoration: none;
		text-transform: uppercase;
		color:#0D0D7A;
	}
	.buttons:hover{
		background:white;
		color:#0D0D7A;
	}	
		
	.title{
		font-family: "Roboto Condensed",sans-serif;
		font-size: 32px;
		font-weight: 700;
		letter-spacing: 0.1rem;
		line-height: 1.2;
		text-transform: uppercase;
	}

	.color-wild-tile{
		color: #07eaf2;
	}

	.customized-content{
		position:relative;
		width:100px;
	}
	
	.customized-image{
		width:100%;
		padding-left:15px;
		padding-right:15px;
		margin-left:0px;
		overflow:hidden;
	}
	.footer{
		width:100%;
	}
	.footer-box{
		padding:10px;
	}
	.sponsors DIV{
		border:0px;
	}

}